%h2
  = @card.name

- %w[name dollar_cost energy_cost ready_time rules_text flavor_text].each do |attr|
  %p
    %strong= attr.titleize + ":"
    = @card[attr]

- if @card.parsed_rules_text
  %p
    %strong Parsed:
    - @card.parsed_rules_text.attacks.each do |attack|
      - activated_ability = attack.activated_ability
      - activated_ability.cost_array.each do |cost|
        Attack:
        %span.icon{:class => cost.first}
        = cost.last
      == :
      = activated_ability.effect.text_value
      = debug activated_ability.cost_array
    - @card.parsed_rules_text.activated_abilities.each do |activated_ability|
      - activated_ability.cost_array.each do |cost|
        %span.icon{:class => cost.first}
        = cost.last
      == :
      = activated_ability.effect.text_value
      = debug activated_ability.cost_array
    