%h2
  = @card.name

- %w[name dollar_cost energy_cost ready_time rules_text flavor_text].each do |attr|
  %p
    %strong= attr.titleize + ":"
    = @card[attr]

- if @card.parsed_rules_text
  %p
    %strong Parsed:
    - @card.parsed_rules_text.attacks.each do |attack|
      Attack:
      = icon_list attack.cost_array
      == :
      = icon_list attack.damage_array
      = debug attack.cost_array
    - @card.parsed_rules_text.activated_abilities.each do |activated_ability|
      = icon_list activated_ability.cost_array
        
      == :
      = activated_ability.effect.text_value
      = debug activated_ability.cost_array
    