.detail
  %h1= "detail"

.you
  %h1= "you"
  - form_tag do
    %p
      = label_tag "health"
      = text_field_tag "health", '40'
    %p
      = label_tag "money"
      = text_field_tag "money", '2'
    %p
      = label_tag "energy"
      = text_field_tag "energy", '0'
    %p
      = label_tag "armor"
      = text_field_tag 'armor', '1'

.enemy
  %h1= "enemy"
  - form_tag do
    %p
      = label_tag "health"
      = text_field_tag "health", '40'
    %p
      = label_tag "money"
      = text_field_tag "money", '2'
    %p
      = label_tag "energy"
      = text_field_tag "energy", '0'
    %p
      = label_tag "armor"
      = text_field_tag 'armor', '1'

.clear

.discard
  %h4= "discard"

.deck
  %h4= "deck"

.hand
  %h1= "hand"

- Card.all.each do |card|
  .card
    %strong= card.name
    %p= card.rules_text
    %em= card.flavor_text