.card
  .titlebar
    %strong= card.name
    %span.costs
      - if card.energy_cost > 0
        = card.energy_cost
        .icon.energy
      - if card.money_cost > 0
        = card.money_cost
        .icon.money
  %strong= card.cooldown_counters
  .icon.cooldown
  .textbox
    %p= render :partial => 'cards/parsed_data', :locals => {:card => card}
    %em= card.flavor_text
    %p.id.hidden= card.id
