.player
  %h1= player.name
  - form_tag do
    %p
      .icon.health
      = text_field_tag "health", player.health, {:size=>'3'}
      .icon.money
      = text_field_tag "money", player.money, {:size=>'3'}
    %p
      .icon.energy
      = text_field_tag "energy", player.energy, {:size=>'3'}
      .icon.armor
      = text_field_tag 'armor', player.armor, {:size=>'3'}

  - Robot::SLOT_TYPES.each do |slot_type|
    - player.send("#{slot_type}_slots").times do |i|
      .slot
        %p= slot_type
        .position= i
        - if card = player.card_in_slot(slot_type, i).first
          = render :partial => 'card', :object => card

  .deck
    %h4= "deck (#{player.cards_in_deck.size})"
    .id.hidden= player.id
  
  .discard
    %h4= "discard (#{player.cards_in_discard.size})"
    - player.cards_in_discard.each do |card|
      = render :partial => 'card', :locals => {:card => card}
    .id.hidden= player.id

  .hand
    %h1= "hand"
    - if player.account_id == current_account.id
      - player.cards_in_hand.each do |card|
        = render :partial => 'card', :object => card

  .clear
  .id.hidden= player.id