!!!
%html
  %head
    %title "ROBOHERO IS AMAZING!!!!!"
    = stylesheet_link_tag 'jquery-ui', 'game', 'main', 'icon'
    = javascript_include_tag 'jquery', 'jquery-ui'
    = javascript_include_tag 'game'
    = javascript_tag "var $token = '#{form_authenticity_token}';"
  %body
    %p.right
      - if current_account
        Logged in as:
        = current_account.nickname
        = link_to "Log out", logout_path
      - else
        = link_to "Log in?", login_path
    
      - Account.all.each do |account|
        %br
        = link_to account.nickname, :controller => "accounts", :action => "assume", :id => account.id

    .notice= flash[:notice]
    .error= flash[:error]
    = yield
    .footer
      = link_to "Icons", "http://famfamfam.com/"
      .icon.energy
      .icon.money
      .icon.cooldown
      .icon.armor
      .icon.armor.add
      .icon.armor.subtract
